
@mixin btn-size($width,$height,$padding, $fontSize, $lineheight) {
    min-width: $width;
    height: $height;
    padding: $padding;
    font-size: $fontSize;
    line-height: $lineheight;
}
@mixin btn-color($bgColor, $color){
    background-color: $bgColor;
    color: $color;
}
@mixin btn {
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    position: relative; 
    overflow: hidden;
    white-space: nowrap;
    @include flex-center;
    color: $white;
    font-family: $global-font; 
    letter-spacing: 0.4px;
    @include btn-size(124px,40px,11px 24px 12px,14px, 22px); 
    @include transition__common;
    cursor: pointer;
    border-radius: 4px;
    background:$gradient;
    background-size: 200% 200%;
    background-position: left center;

    @media #{$md} {
        @include btn-size(140px,42px,6px 23px 8px,14px, 20px); 
        letter-spacing: 1.25px; 
    }
    @media #{$small} {
        @include btn-size(100px,30px,7px 8px 7px,10px, 12px);
    }
    &:hover{
        color: $white;
        background-position: center center;
    }
    &.xs-btn{
        @include btn-size(140px,42px,6px 23px 8px,14px, 20px); 
        letter-spacing: 1.25px;

        @media #{$small} {
            @include btn-size(100px,30px,7px 8px 7px,10px, 12px);
        }
    }
}

.n-theme-btn{
    z-index: 0;
    @include btn;
   
    &:hover,
    &:focus,
    &:active:focus{
        color: $white;
    }

    &.secondary-btn{
        background:$black;
        color: $white;
        
        &:hover{
            background-color: $primary;
            color: $white;
        }
    }
}

.read-more-btn{
    @include small-fonts;
    display: flex;
    gap: 9px;
    transition: all 0.5s ease-in-out;
    align-items: center;
    color: $primary;

    @media #{$small} {
        gap: 5px;
    }

    &:hover{
        gap: 15px;
        color: $primary;

        @media #{$small} {
            gap: 10px;
        }
    }

    img{
        height: 18px;
        width: 9px;
        object-fit: contain;

        @media #{$small} {
            height: 8px;
            width: 8px;
        }
    }
}
.btn-flex{
    display: flex;
    gap: 20px;
    justify-content: center;
}
